@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");

body {
  margin: 10px;
  padding: 10px;
  background: #f8f8f8;
  font-family: "Noto Sans KR", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
}

.navigator {
  width: 18%;
  height: 100%;
  /*background: url("nav_bg.svg") no-repeat center;*/
  background: linear-gradient(#04044a, #fad6a3);
  top: 0;
  left: 0;
  position: fixed;
  z-index: 1;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .navigator {
    width: 000px;
  }
}

.navigator .LOGO {
  top: 5%;
  position: relative;
  color: #ffffff;
  font-size: 234%;
  font-weight: bold;
}

.navigator .welcome {
  top: 8%;
  position: relative;
  color: #e7e7e7;
  font-size: 90%;
}

.navigator .profile_playing {
  top: 13%;
  position: relative;
}

.navigator .profile_playing .profile_img {
  width: 45%;
  position: relative;
  border-radius: 50%;
}

.navigator .now_playing {
  top: 15%;
  left: 10%;
  position: relative;
  font-size: 70%;
  color: #e7e7e7;
  background: url("now_playing.svg") no-repeat center;
  background-size: cover;
  padding: 2% 0;
  width: 80%;
  border-radius: 40px;
}

.navigator .playing_btn {
  top: 18%;
  position: relative;
}

.navigator .nav-icon {
  top: 45%;
  left: 10%;
  width: 100%;
  position: relative;
  padding: 2%;
  text-align: justify;
  margin-top: 3%;
}

.navigator .nav-footer {
  position: relative;
  top: 52%;
}

.navigator .nav-footer .footer-button {
  outline: none;
  border: none;
  background-color: transparent;
}

.body_content {
  float: right;
  margin-left: -30%;
}

.body_content .search-box {
  margin-top: 5%;
  position: relative;
  background: #ffffff;
  border-radius: 40px;
  padding: 5%;
}

.body_content .search-box .search-btn {
  position: absolute;
  bottom: 18%;
  right: 5%;
  color: #555555;
  float: right;
  border-radius: 50%;
  background: #ffffff;
  transition: 0.4s;
}

.body_content .search-box .search-txt {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: #555555;
  font-size: 85%;
  transition: 0.4s;
  line-height: 30%;
  width: 0px;
}

.body_content .list_block {
  width: 220%;
  margin-top: 5%;
  position: relative;
  padding: 5% 15%;
  background: white;
  border: 1px solid transparent;
  border-radius: 5%;
  font-size: 90%;
  align-items: center;
}

.body_content .list_block .track .audio {
  width: 50%;
  margin-top: 1%;
}

.body_content .list_block .play_btn {
  font-size: 80%;
}

.body_content .list_block .icon_block {
  position: relative;
  bottom: 25px;
}

.body_content .list_block .icon_block .play_icon {
  margin-left: 3%;
}
