@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");

body {
  margin: 0px;
  padding: 0px;
  background: #f8f8f8;
}

.search-box {
  position: relative;
  transform: translate(-50%, -50%);
  background: #ffffff;
  height: 40px;
  border-radius: 40px;
  padding: 10px;
}

.search-box:hover > .search-txt {
  width: 240px;
  padding: 0 15px;
}

.search-box:hover > .search-btn {
  background: white;
}

.search-btn {
  color: #555555;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

.search-txt {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: #555555;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;
}
