.navstyle{
  z-index:3;width:300px;font-weight:bold;border-radius: 0px 40px 40px 0px / 0px 40px 40px 0px;
}
.t10{
  font-size:10px;
}
.tList{
  font-size: 15px;
}
.dImg{
  width:100%;
}
.tBlack{
  color: black;
}
.close_menu{
  width:100%;font-size:22px;
}
.redBox{
  width:50px;border:5px solid red
}
.rightMargin{
  margin-left:340px;margin-right:40px;
}
.closeDiv{
  cursor:pointer;
}
.talignLeft{
  text-align: left;
}
.leftLast{
  text-align: center; margin-top:50px;
}
.width7{
  width:7%;
}
.marginT15{
  margin-top: 15px;
}
.op7{
  background-color:#ddd; background-color: rgba( 255, 255, 255, 0.7 );
}
.op4{
  background-color:#ddd; background-color: rgba( 255, 255, 255, 0.4 );
}
.time{
  padding-right:10px;
  float: right;
}
.row{
  text-align:left; margin-top:15px;
}
.listContents {
  float: left;
  width: 100%;
  padding-left: 10px;
}
