@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");

* {
  margin: 0;
}
body {
  font-family: "Noto Sans KR", sans-serif;
  display: flex;
  margin: 0; /*here!*/
  padding: 0; /*here!*/
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  background: url("background2.png") no-repeat center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.1);
}

body::before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.nextBtn{
  width:15px;
  margin-right: 15px;
}

.info{
  margin-left: 5%;
  margin-right: 50%;
  margin-bottom: auto;
}
.info h3{
  margin-top: 5px;
  color: #ebb434;
}

.column{
  float: left;
  width: 80%;
  margin-top: 35px;
}
audio {
  width: 100%;
  margin-left: 10%;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.radio{
  margin-top: 50px;
  float: left;
  width:10% -1px;
}

.vertical{
  flex-direction: column;
}

/*위쪽 흰색 bar*/
.upper_bar {
  margin-left: 18%;
  margin-top: 0px;
  padding-top: 0px;
  margin-bottom: auto;
  align-self: stretch;
  background-color: #fff;
}
.img-button {
  background: url("backBtn.svg") no-repeat;
  border: none;
  width: 70px;
  height: 55px;
  cursor: pointer;
}
.center { /*here!*/
  margin-left: 18%;
  width: 60%;
  margin-bottom: auto;
  z-index: 2;
}
.center h1 { /*here!*/
  font-size: 20px;
  color: #ebb434;
  text-align: center;
  margin-bottom: 60px;
}
.center h2 { /*here!*/
  font-size: 18px;
  color: #ebb434;
  text-align: center;
  margin-right: 10%;
  margin-bottom: 20px;
}
.center h3 { /*here!*/
  font-size: 16px;
  color: #ebb434;
  text-align: center;
  margin-bottom: 0px;
}
.smallWidth{ /*here!*/
  width: 26%;
  margin-left: 10%;
}
.score_img{ /*here!*/
  width: 60%;
  margin-left: 15%;
  position: relative;
}

.int-area {
  width: 400px;
  position: relative;
  margin-top: 20px;
}
.int-area:first-child {
  margin-top: 0;
}
.int-area input { /*here!*/
  width: 100%;
  padding: 20px 10px 10px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #999;
  font-size: 18px;
  color: #fff;
  outline: none;
}
.int-area label { /*here!*/
  position: absolute;
  left: 10px;
  top: 15px;
  font-size: 18px;
  color: #999;
  transition: all 0.5s ease;
}
.int-area label.warning { /*here!*/
  color: red !important;
  animation: warning 0.3s ease;
  animation-iteration-count: 3;
}
@keyframes warning { /*here!*/
  0% {
    transform: translateX(-8px);
  }
  25% {
    transform: translateX(8px);
  }
  50% {
    transform: translateX(-8px);
  }
  75% {
    transform: translateX(8px);
  }
}
.int-area input:focus + label,
.int-area input:valid + label {
  top: -2px;
  font-size: 13px;
  color: #ebb434;
}

.confirm-button {
  margin-left: 60%;
  margin-bottom: auto;
}

.confirm-button button {
  width: 200px;
  height: 50px;
  background: #fff;
  font-size: 20px;
  color: #000;
  border: 2px solid #ebb434;
  border-radius: 25px;
  font-family: "Noto Sans KR", sans-serif;
  /* box-shadow: 2px 2px 5px #5e5e5e; */
  cursor: pointer; /* 위에 커서 놓았을 때 커서 모양 */
}
