@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Noto Sans KR", sans-serif;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  background: url("background2.png") no-repeat center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.1);
}
.navigator {
  width: 18%;
  height: 100%;
  /*background: url("nav_bg.svg") no-repeat center;*/
  background: linear-gradient(#04044a, #fad6a3);
  top: 0;
  left: 0;
  position: fixed;
  z-index: 1;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .navigator {
    width: 000px;
  }
}

.navigator .LOGO {
  top: 5%;
  position: relative;
  color: #ffffff;
  font-size: 234%;
  font-weight: bold;
}

.navigator .welcome {
  top: 8%;
  position: relative;
  color: #e7e7e7;
  font-size: 90%;
}

.navigator .profile_playing {
  top: 13%;
  position: relative;
}

.navigator .profile_playing .profile_img {
  width: 45%;
  position: relative;
  border-radius: 50%;
}

.navigator .now_playing {
  top: 15%;
  left: 10%;
  position: relative;
  font-size: 70%;
  color: #e7e7e7;
  background: url("now_playing.svg") no-repeat center;
  background-size: cover;
  padding: 2% 0;
  width: 80%;
  border-radius: 40px;
}

.navigator .playing_btn {
  top: 18%;
  position: relative;
}

.navigator .nav-icon {
  top: 45%;
  left: 10%;
  width: 100%;
  position: relative;
  padding: 2%;
  text-align: justify;
  margin-top: 3%;
}

.navigator .nav-footer {
  position: relative;
  top: 52%;
}

.navigator .nav-footer .footer-button {
  outline: none;
  border: none;
  background-color: transparent;
}

body::before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.nextBtn{
  width:15px;
  margin-right: 15px;
}

.info{
  margin-left: 5%; /**/
  margin-right: 50%;
  margin-bottom: auto;
}
.info h3{
  margin-top: 5px; /**/
  color: #ebb434;
}

.column{
  float: left;
  width: 80%;
  margin-top: 35px;
}
audio {
  width:100%;
  margin-left:10%;
  /*width: 700px;
  display: block;*/
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.radio{
  margin-top: 50px;
  float: left;
  width:10% -1px;
}

.vertical{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow:hidden;
}

/*위쪽 흰색 bar*/
.upper_bar{
  margin-left:17.4%;
  margin-top: -20px;
  padding-top: 0px;
  margin-bottom: auto;
  align-self: stretch;
  background-color: #fff;
}

/*로그인 파트에 들어있던 CSS*/
.login-form {
  position: relative;
  z-index: 2;
  align-items: center;
  margin-bottom: auto;
}
.login-form h1 {
  font-size: 32px;
  color: #fff;
  text-align: center;
  /* margin-bottom: 60px; */
}
.login-form h2 {
  font-size: 18px;
  color: #ebb434;
  text-align: center;
  margin-bottom: 60px;
}

.int-area {
  width: 400px;
  position: relative;
  margin-top: 20px;
}
.int-area:first-child {
  margin-top: 0;
}
.int-area input {
  width: 100%;
  padding: 20px 10px 10px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #999;
  font-size: 18px;
  color: #fff;
  outline: none;
}

.int-area label {
  position: absolute;
  left: 10px;
  top: 15px;
  font-size: 18px;
  color: #999;
  transition: all 0.5s ease;
}
.int-area label.warning {
  color: red !important;
  animation: warning 0.3s ease;
  animation-iteration-count: 3;
}

@keyframes warning {
  0% {
    transform: translateX(-8px);
  }
  25% {
    transform: translateX(8px);
  }
  50% {
    transform: translateX(-8px);
  }
  75% {
    transform: translateX(8px);
  }
}
.int-area input:focus + label,
.int-area input:valid + label {
  top: -2px;
  font-size: 13px;
  color: #ebb434;
}

.btn-area {
  margin-left: 60%;
  margin-bottom: auto;
}
.btn-area button {
  width: 200%;
  height: 50px;
  background: #fff;
  color: #000;
  font-size: 20px;
  border: 2px solid #ebb434;
  border-radius: 25px;
  font-family: "Noto Sans KR", sans-serif;
  cursor: pointer; /* 위에 커서 놓았을 때 커서 모양 */
}


.img-button {
  background: url( "backBtn.png" ) no-repeat;
  border: none;
  width: 70px;
  height: 55px;
  cursor: pointer;
  }

/*
.upper_bar button {
  float:right;
  border:none;
  width: 60px;
  height:50px;
  background: white;
  color:#2e2e2e;
  font:bold;
  font-size:16px;
  cursor:pointer;
  } */

.song-contents{
  margin-right:50%;
  margin-left:20%;
  margin-bottom:20px;
  }

.song-contents2 {
  margin-right:50%;
  margin-left:50%;
  margin-bottom: auto;
  padding:30px 50px 30px 50px; background:white; 
  width: 1000px; height:auto; overflow:hidden;
  } 

.song-contents2.left{
  width:auto; float:left; padding-right:30px; box-sizing:border-box;
  }

.song-contents2.right{
  width:auto; float:right; padding-left:30px; box-sizing:border-box;
  }

 .song-contents h1{color:#2e2e2e;}
 .song-contents2 h2{color:#ebb434;}
 .song-contents2 p{color:#404040;font-size:18px;}

 .confirm-button{
  margin-left:25%;
  margin-bottom: auto;
          
  }

.confirm-button button{
  width: 200px;
  height: 50px;
  background: #fff;
  font-size: 20px;
  color:#000;
  border: 2px solid #ebb434;
  border-radius: 25px;
  font-family: "Noto Sans KR", sans-serif;
  box-shadow: 2px 2px 5px #5e5e5e;
  }

.int-area textarea {
  width: 100%;
  height:300px;
  padding: 20px 10px 10px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #999;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 18px;
  color: #fff;
  outline: none;
  }

.int-area textarea:focus + label,
.int-area textarea:valid + label {
  top: -2px;
  font-size: 13px;
  color: #ebb434;
}